RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
DirectoryIndex index.php
Options -Indexes
ErrorDocument 404 /templates/404.php
ErrorDocument 500 /templates/404.php

