.rating {
  --ratingColor: #faab00;
  font-size: 1.5em;
  color: var(--ratingColor);
  font-weight: bold;
  position: relative;
  width: max-content;
  display: inline-block;
  margin: auto;
  margin-bottom: 10px;
}
.rating:before {
  content: "☆☆☆☆☆";
}
.rating:after {
  content: "★★★★★";
  position: absolute;
  left: 0;
  z-index: 0;
  width: calc(var(--rating) * 1%);
  overflow: hidden;
}
