main{
  margin-top: 30px;
  width: 100%;
}
.area-left, .content-right{
  display: inline-block;
  min-height: 500px;
  background-color: #1e2a34;
  float: left;
  overflow-y: auto;
  max-height: calc(100vh - 150px);
}
.area-left{
  width: 300px;
  margin-right: 10px;
}
.content-right{
  width: calc(100% - 320px);
}
.area-left > button{
  margin: 5px;
  width: calc(100% - 10px);
}

#selected-left{
  color: #ff4655;
}
.area-left > p{
  font-size: 0.9em;
  color: #9a9a9a;
  width: 100%;
  text-align: center;
}

.userpage{
	display: none;
  text-align: center;
  padding: 7px;
}
#page1{
	display: block;
}

.details-card{
  border:none;
  display: inline-block;
  margin:auto;
  border-radius: 5px;
  color: #121212;
  background-color: #dedede;
  width: 90%;
  padding: 17px 10px;
  font-size: 0.85em;
}
.details-card-left, .details-card-right{
  background-color: transparent;
  display: inline-block;
  text-align: left;
}
.details-card-left{
  width: 33%;
}
.details-card-right{
  width: 63%;
  color: #454545;
}
.details-card-row{
  border: none;
  width: 100%;
  padding: 8px;
}
.details-card-hr{
  margin: 3px 16px;
  color: #ababab;
}
.details-control{
  width: 100%;
  padding-right: 30px;
  text-align: right;
  height: 40px;
}
.details-control .icon-btn{
  float: right;
}
.details-right-label, .details-right-input{
  width: 100%;
}
.details-right-input{
  display: none;
}
.details-right-input > input{
  width: 100%;
  padding: 3px 5px;
  border: none;
}
.user-link{
  color: #61ff88;
}
